version: "3.9"

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: financial-control-db
    restart: unless-stopped

    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${DB_SA_PASSWORD}

    ports:
      - "1433:1433"
    
    volumes:
      - sqlserver_data:/var/opt/mssql

volumes:
  sqlserver_data:
